

.jumbotron {
     padding-top: 0px !important ;
     padding-bottom: 0px !important; 
    margin-bottom: 30px;
    color: inherit;
    background-color: #eee;
     padding-left: 30px;
    padding-right: 30px;
    margin: 0 auto;
}
.sign-in{
    font-size: 16px;
    font-weight: 700;
    letter-spacing: -0.16px;
    border-radius: 5px;
    border: 2px solid;
    border-color: #8d448b;
    color: #8d448b;
    padding: 8px 24px;
    margin-top: 3px;
    margin-left:40px ; 
    
}
.navbar-nav{
    padding-left: 120px !important;
    padding-right: 30px;

}
.sign-in:hover{
    background-color: #8d448b;
    color:lightgray;
}

.navbar-brand
{box-sizing: border-box;
    margin: 0;
    min-width: 0;
    font-family: Shizuru,cursive;
    font-weight: 700;
    margin-right: 30px;
}


 .btn-sub{
background-color: #8d448b;
color: lightgray;


 }

 img{
     position: absolute;
     object-position: center;
     transition:cubic-bezier();
     object-fit: cover;
     opacity: 1;
 }
 
 